.special {
    color: #606060;
    font-weight: bold;
    font-size: 14px;
}

.rightBodyFooterText {
    color: #606060;
    font-size: 14px;
    padding-left: 22px;
}

.rightBodyFooter {
    border: 1px solid #EBDAFF;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
}

.pp {
    padding-top: 7px;
}

.right-footer-img {
    width: 200px;
    height: 70.67px;
}

@media only screen and (max-width: 1320px) {
    .rightBodyFooter {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}