* {
    padding: 0px;
    margin: 0px;
}

.home {
    display: flex;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.App {
    padding-left: 60px;
    padding-right: 60px;
}

.right {
    padding-left: 50px;
}

@media (max-width: 850px) {
    /* .right {
        padding-left: 0px;
    } */
}

@media only screen and (max-width: 1320px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    .right {
        padding-left: 0px;
    }
    .qq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right {
        padding-top: 100px;
        margin: 0px;
    }
}

@media only screen and (max-width: 640px) {
    .home {
        /* background: red; */
    }
    /* .App {
        padding-left: 0px;
        padding-right: 0px;
    } */
}